.App {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15% 80% 5%;
}

/* .App > * {
  border: 1px solid #7D5A50;
} */

.App > footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 12;
}
.App > header {
  display: flex;
  align-items: center;
  grid-column: span 12;
}

.App > main {
  grid-column: span 12;
  overflow: scroll;
  margin-top: 30px;
}

.App {
  background-image: url(../src/Client/Images/Landing_Page_Image.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
